html {
    box-sizing: border-box;
}

* {
    /* box-shadow: 0 0 0 1px yellowgreen; */
    /* поправить  */
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;


}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;

}

.main-header {
    min-height: 56px;
}

.main-header-logo {
    align-self: center;
    position: absolute;
    top: 0;
}


a {
    text-decoration: none;
}


.main-picture-section {
    background-image: url("../img/background-photo.jpg");
    background-position-y: -65px;
    min-height: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
}

.polygon-img {
    background-image: url("../img/polygon.png");
    background-repeat: no-repeat;
    min-height: 58px;
    width: 100%;
}




.reservation-details .main-button {
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    width: 458px;
    padding-top: 17px;
    padding-bottom: 21px;
    margin: auto;

}

.main-button:hover {
    background-color: #669ec0;
}

.main-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.main-picture-section {}



.main-navigation {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 26px;

    justify-content: initial;
    padding-left: 73px;
    padding-right: 73px;

}

.site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    width: 1056px;
    list-style: none;
    min-height: 56px;
    justify-content: space-between;
}

.site-navigation a {
    color: #000000;
    font-weight: bold;

}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #aaaaaa;
}

.welcome {
    text-align: center;
    margin-top: 42px;


}
.wrap-filters{
    background-color: pink;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 30px -4px rgba(0, 0, 0, .6);

}

.main-columns {
    display: flex;
    margin-top: 58px;
    justify-content: space-between;


}

.main-picture-section {
    background-image: url("/img/background-photo.jpg");
    width: 1200px;
    background-size: cover;

}

.main-picture-section>img {
    margin: auto;


}


.main-columns .introductory-information {
    color: #ffffff;
    text-align: center;
    background-color: #81b3d2;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.introductory-information h3 {
    font-size: 21px;
}

.introductory-image img {
    display: block;
}

.devil-bridge img {
    display: block;
}


.exelence-list {
    display: flex;
    list-style: none;
    text-align: center;
    width: 1200px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin: auto;
}

.exelence-item {
    width: 400px;
    min-height: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;


}

.exelence-item h4 {
    font-weight: bold;
    font-size: 21px;
}

.exelence-item p {
    font-size: 14px;
    font-weight: lighter;
    color: #333333;
}

.exelence-item h4 {
    font-weight: bold;
    font-size: 21px;
}

.exelence-item p {
    font-size: 14px;
    font-weight: lighter;
}

.exelence-list-two {
    list-style: none;
    text-align: center;
    flex-direction: row;
    list-style: none;
    text-align: center;
    display: flex;
    width: 1200px;
    padding-left: 0;
    margin: 0 auto;

}

.exelence-item-two {
    background-color: #eeeeee;
    width: 400px;
    min-height: 255px;
    padding-top: 49px;
    padding-bottom: 55px;
}


.devil-bridge {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    background-color: #81b3d2;
    color: #ffffff;

}

.devil-bridge-information {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    padding-top: 46px;

}

.devil-bridge h4 {
    font-weight: bold;
    font-size: 21px;
}

.reservation {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 55px;
}

.reservation span {
    font-size: 30px;
    font-weight: bold;
}

.reservation p {
    color: #333333;
}

.reservation-details {
    background-color: #ffffff;
    width: 576px;
    font-weight: bold;
}

.reservation-details fieldset {
    border-style: none;
    padding: 0;
    min-height: 480px;

}

.reservation-details .map-button {
    background-color: #766357;
    font-size: 21px;
    text-transform: inherit;
    color: #ffff;
    line-height: 26px;
    width: 570px;
    text-align: center;
    padding: 20px;
}

.reservation-details .map-button:hover {
    background-color: #604e43;
}

.reservation-details .map-button:active {
    background-color: #503e33;
    color: #857871;
}

.reservation-details label {
    font: inherit;
    font-weight: bold;
    color: #000000;
    line-height: 26px;
}

.reservation-date input {
    font: inherit;
    border: none;
    background-color: #f2f2f2;
    width: 346px;
    height: 37px;
}

.main-footer {
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 121px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-social ul {
    width: 150px;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-social .soc-icon {
    display: inline-block;
    width: 48px;
    height: 46px;
    background-color: #84b4d0;
    background-repeat: no-repeat;
    background-position: center;
}

.soc-icon.soc-icon-fb {
    background-image: url("../img/fb.svg");
}

.soc-icon.soc-icon-tw {
    background-image: url("../img/twitter.svg");
}

.soc-icon.soc-icon-youtube {
    background-image: url("../img/youtube.svg");
}

.footer-contacts a {
    text-transform: uppercase;
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}


.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}


.footer-social a:hover {
    background-color: #669ec0;
}

.footer-social a:active {
    background-color: #88b6d1;
    color: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
    display: flex;
    width: 197px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.footer-copyright span {
    text-transform: uppercase;
}


.hotel-filters {
    background-image: url("/img/filter\ background.jpg ");
    background-color: #81b3d2;
    background-repeat: no-repeat;
    width: 1200px;
    margin: 0 auto;
    color: #ffffff;
}

.hotel-filters fieldset {
    border: none;
}

.hotel-filters legend {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.hotel-filters .infrastructure {
    list-style: none;
}

.hotels {
    list-style: none;
    width: 1200px;
    margin: 0 auto;
    padding: 0;

}

.hotels li {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 73px;
    padding-right: 73px;
}


.hotels-found {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;

}

.hotels-found>p {
    font-size: 21px;
    font-weight: bold;
    margin-left: 73px;
}

.sort-buttons {
    margin-left: 50px;
    display: flex;
    width: 968px;
    flex-direction: row;
    justify-content: space-between;
   
}


.sort-buttons p {
    font-size: 12px;

    line-height: 18px;
}


.hotel-name-list {
    width: 259px;

}

.hotel-name-list a {

    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.hotel-name-list a:hover {
    color: #81b3d2;
}

.hotel-name-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotels .button-details {
    color: #ffffff;
    background-color: #81b3d2;
    padding: 5px 15px;
    line-height: 26px;
    font-weight: bold;
}

.button-details:hover {
    background-color: #669ec0;
}

.button-details:active {
    background-color: #5496bd;
    color: #84b4d0;
}

.hotels .button-order {
    color: #ffffff;
    background-color: #766357;
    padding: 5px 15px;
    line-height: 26px;
    font-weight: bold;
}

.button-order:hover {
    background-color: #604e43;

}

.button-order:active {
    background-color: #503e33;
    color: #857871;
}

.hotels .rating {
    line-height: 21px;
    color: #666666;
    background-color: #f2f2f2;
    padding: 5px 15px;
    font-size: 14px;

}

.map {
    width: 100%;
}