* {
    box-shadow: 0 0 0 3x black;
}

body {

    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    /* background-color: #f2f2f2; */

}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;

}

a {
    text-decoration: none;
}



.main-button {
    font: inherit;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;

}

.main-button:hover {
    background-color: #669ec0;
}

.main-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.main-navigation {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
    font-weight: bold;

}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #aaaaaa;
}

.welcome {
    text-align: center;

}

.main-columns {
    background-color: #81b3d2;
}



.main-columns .introductory-information {
    color: #ffffff;
    text-align: center;
}

.introductory-information h3 {
    font-size: 21px;
}


.exelence-list {
    list-style: none;
    text-align: center;
}

.exelence-item h4 {
    font-weight: bold;
    font-size: 21px;
}

.exelence-item p {
    font-size: 14px;
    font-weight: lighter;
    color: #333333;
}




.exelence-item h4 {
    font-weight: bold;
    font-size: 21px;
}

.exelence-item p {
    font-size: 14px;
    font-weight: lighter;
}

.exelence-list-two {
    margin: 0;
    list-style: none;
    text-align: center;
}

.exelence-item-two {
    background-color: #eeeeee;
}







.devil-bridge {
    text-align: center;
    background-color: #81b3d2;
    color: #ffffff;
}

.devil-bridge h4 {
    font-weight: bold;
    font-size: 21px;
}

.reservation {
    text-align: center;
    height: 288px;
    width: 1200px;
    margin: 0 auto;

}

.reservation span {
    font-size: 30px;
    font-weight: bold;

}

.reservation p {
    color: #333333;
}

.reservation-details {
    background-color: #ffffff;

}

.reservation-details legend {
    background-color: #766357;
    font-size: 21px;
    color: #ffff;
    line-height: 26px;
    width: 570px;
    text-align: center;
    padding: 20px;
}

.reservation-details label {
    font: inherit;
    font-weight: bold;
    color: #000000;
    line-height: 26px;
}

.reservation-details input {
    font: inherit;
    border: none;
    background-color: #f2f2f2;
}

.main-footer {
    background-color: rgba(255, 255, 255, 0.9);
}

.footer-contacts a {
    text-transform: uppercase;
    color: #000000;
    font-size: 21px;
}


.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.footer-social a {
    background-color: #81b3d2;
}

.footer-social a:hover {
    background-color: #669ec0;
}

.footer-social a:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.footer-copyright span {
    text-transform: uppercase;
}

.hotel-filters {
    background-image: url("/img/filter\ background.jpg ");
    background-color: #81b3d2;
    background-repeat: no-repeat;
    width: 1200px;
    margin: 0 auto;
    color: #ffffff;
}

.hotel-filters legend {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.hotel-filters .infrastructure {
    list-style: none;
}

.hotels{
    list-style: none;
   
}
.hotel-name a{
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.hotel-name a:hover{
     color: #81b3d2;
}
.hotel-name a:active{
    color: rgba(0, 0, 0, 0.3);
}
.hotels .button-details{
    color:#ffffff;
    background-color: #81b3d2;
    padding: 5px 15px;
    line-height: 26px;
    font-weight: bold;
}
.button-details:hover{
background-color: #669ec0;
}
.button-details:active{
    background-color: #5496bd;
    color: #84b4d0;
    }
.hotels .button-order{
    color:#ffffff;
    background-color: #766357;
    padding: 5px 15px;
    line-height: 26px;
    font-weight: bold;
}
.button-order:hover{
    background-color: #604e43;
  
}
.button-order:active{
    background-color: #503e33;
    color: #857871;
}
.hotels .rating{
    line-height:21px;
    color: #666666;
    background-color: #f2f2f2;
    padding: 5px 15px;
    font-size: 14px;
}